body {
    text-align: center;
}

main {
    display: inline-block;
    margin-top: 5%;
}

.square {
    float: left;
    position: relative;
    width: 25px;
    height: 25px;
    padding-bottom: 25px;
    margin: 1px;
    background-color: #d0d0d0;
    overflow: hidden;
    cursor: default;
    border-radius: 2px;
}

.populated {
    background-color: #0dc378
}

.btn-primary.active,
.btn-primary:active,
.open>.dropdown-toggle.btn-primary {
    background-color: #337ab7 !important;
}